<!-- Exibe itens fo Firebase -->
<!-- <div class="grid grid-pad">
    <div *ngFor="let item of myList | async" lass="col-1-4">
        <div class="module hero">
            <h4>{{ item.title }}</h4>
        </div>
    </div>
</div> -->

<div class="container">
    <div>
        <ul *ngFor="let todo of objects; let i=index" [class.selected]="todo === selectedData" (click)="onSelect(todo)" class="list-group">
            <li class="list-group-item active">
                <label [ngClass]="{'checked': todo.done}">{{ todo.title }}</label>
                <button (click)="deleteTodo(i)" class="btn btn-danger btn-drop"
                                                style="margin: -11px -16px; padding: 11.7px; border-radius: 0px;">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
            </li>
            <li class="list-group-item">
                <label [ngClass]="{'checked': todo.done}">{{ todo.message }}</label>
            </li>
        </ul>

        <div style="float: right;">
            <button routerLink="/add" routerLinkActive="active" class="btn btn-success">Adicionar</button>
        </div>
    </div>
    <div>
        <div *ngIf="selectedData">
            <h2>{{selectedData.name}} details!</h2>
            <div>
                <label>id: </label>{{selectedData.id}}
            </div>
            <div>
                <label>Título: </label>
                <input [(ngModel)]="selectedData.title" placeholder="title"/>
            </div>
            <div>
                <label>Mensagem: </label>
                <input [(ngModel)]="selectedData.message" placeholder="message"/>
            </div>
        </div>
        <div *ngIf="selectedData">
            <button (click)="gotoDetail()">Ver Detalhes</button>
        </div>
    </div>
</div>