<div class="container">
	<form #myForm="ngForm" (ngSubmit)="addTodo(myForm.value, $event)">

		<div class="form-group">
	        <label>Id:</label>
	        <input name="id" ngModel class="textfield form-control" />
	    </div>

	    <div class="form-group">
	        <label>Titulo:</label>
	        <input name="title" ngModel class="textfield form-control">
	    </div>

	    <div class="form-group">
	        <label>Mensagem:</label>
	        <input name="message" ngModel class="textfield form-control">
	    </div>

	    <button type="submit" class="btn btn-success">Salvar</button>
	</form>
</div>