<!-- <div>
    <label>Hero name:</label> <input #heroName />
    <button (click)="add(heroName.value); heroName.value=''"> Add </button>
</div> -->
<!-- <ul class="heroes">
    <li *ngFor="let hero of heroes" (click)="onSelect(hero)"
        [class.selected]="hero === selectedHero">
        <span class="badge">{{hero.id}}</span>
        <span>{{hero.name}}</span>
        <button class="delete" (click)="delete(hero); $event.stopPropagation()">x</button>
    </li>
</ul>
<div *ngIf="selectedHero">
    <h2>{{selectedHero.name | uppercase}} is my hero</h2>
    <button (click)="gotoDetail()">View Details</button>
</div> -->


<!-- <form (submit)="addTodo()">
    <div class="form-group">
        <label>Name:</label>
        <input [(ngModel)]="newTodo" class="textfield form-control" name="newTodo">
    </div>
    <button type="submit" class="btn btn-success">Adicionar</button>
</form> -->
<div class="container">
    <ul *ngFor="let todo of todos; let i=index" class="list-group">
        <li class="list-group-item active">
            <label [ngClass]="{'checked': todo.done}">{{ todo.newTodo }}</label>
            <button (click)="deleteTodo(i)" class="btn btn-danger btn-drop"
                                            style="margin: -11px -16px; padding: 11.7px; border-radius: 0px;">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </button>
        </li>
        <li class="list-group-item">
            <label [ngClass]="{'checked': todo.done}">{{ todo.newMessage }}</label>
        </li>
    </ul>

    <div style="float: right;">
        <button routerLink="/add" routerLinkActive="active" class="btn btn-success">Adicionar</button>
    </div>
</div>
<!-- <div *ngIf="selectedHero">
    <h2>{{selectedHero.name | uppercase}} is my hero</h2>
    <button (click)="gotoDetail()">View Details</button>
</div> -->