<!-- <div>
    <label>Hero name:</label> <input #heroName />
    <button (click)="add(heroName.value); heroName.value=''"> Add </button>
</div> -->
<!-- <ul class="heroes">
    <li *ngFor="let hero of heroes" (click)="onSelect(hero)"
        [class.selected]="hero === selectedHero">
        <span class="badge">{{hero.id}}</span>
        <span>{{hero.name}}</span>
        <button class="delete" (click)="delete(hero); $event.stopPropagation()">x</button>
    </li>
</ul>
<div *ngIf="selectedHero">
    <h2>{{selectedHero.name | uppercase}} is my hero</h2>
    <button (click)="gotoDetail()">View Details</button>
</div> -->


<!-- <form (submit)="addTodo()">
    <div class="form-group">
        <label>Name:</label>
        <input [(ngModel)]="newTodo" class="textfield form-control" name="newTodo">
    </div>
    <button type="submit" class="btn btn-success">Adicionar</button>
</form> -->
<div class="container">
    <ul class="list-group">
        <li *ngFor="let todo of todos; let i=index" class="list-group-item">
            <!-- <input type="checkbox" [(ngModel)]="todo.done" /> -->
            <label [ngClass]="{'checked': todo.done}">{{ todo.newTodo }}</label>
            <!-- <button (click)="deleteTodo(i)" class="btn btn-danger">x</button> -->
            <label [ngClass]="{'checked': todo.done}">{{ todo.newMessage }}</label>
        </li>
    </ul>

    <div>
        <button routerLink="/add" routerLinkActive="active" class="btn btn-success">Adicionar</button>
        <button (click)="deleteSelectedTodos()" class="btn btn-danger">Excluir</button>
    </div>
</div>
<!-- <div *ngIf="selectedHero">
    <h2>{{selectedHero.name | uppercase}} is my hero</h2>
    <button (click)="gotoDetail()">View Details</button>
</div> -->