<div class="container" *ngIf="selectedData">
    <h2>{{selectedData.title}} Edição!</h2>
    <div>
        <label>id: </label>{{selectedData.id}}
    </div>
    <div>
        <label>Titulo: </label>
        <input [(ngModel)]="selectedData.title" placeholder="title"/>
    </div>
    <div>
        <label>Mensagem: </label>
        <input [(ngModel)]="selectedData.message" placeholder="message"/>
    </div>
    <button (click)="goBack()">Back</button>
    <!-- <button (click)="save()">Save</button> -->
</div>